.new-btn-quaternary {
  background-color: #151538;
  color: white;

  svg {
    stroke: #4027cd;
  }
}

.card-action-end {
  width: 60%;
  margin-left: auto;
}

html[dir='rtl'] {
  .card-action-end {
    margin-left: 0;
    margin-right: auto;
  }
}

.btn-footer-danger {
  color: #fc5555;
  background-color: #fee2e2;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  svg {
    width: 20px;
    height: 20px;
    path {
      stroke: #6750e9 !important;
    }
  }
}
