.multiselect-container {
  display: none !important;
}

.table-responsive {
  .checkbox-input {
    margin-top: 0px !important;
  }
}
.expend-btn {
  color: #6750e9;
}
.expend-btn:active {
  border: none;
}

// .scroll-table {
//   .table-responsive {
//     max-height: 300px;
//     overflow-y: scroll;
//   }
// }
