.cancel-subscription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .cancel-subscription-left {
    h5 {
      color: #9e9e9e;
    }
    p {
      color: black;
    }
    .expiration-date {
      color: red;
    }
    &-canceled {
      padding: 8px;
      border: 1px solid transparent;
      border-radius: 8px;
      overflow: hidden;
      h5,
      p {
        color: black;
      }
      .expiration-date {
        color: red;
      }
    }
  }
  .cancel-subscription-right {
    button {
      width: 100%;
    }
  }
}
