// English font family
@font-face {
        font-family: "InterTight";
        src: url("../fonts/InterTight/InterTight-Regular.ttf");
        font-weight: 400;
        font-style: 400;
}

@font-face {
        font-family: "InterTight";
        src: url("../fonts/InterTight/InterTight-Medium.ttf");
        font-weight: 500;
        font-style: 500;
}

@font-face {
        font-family: "InterTight";
        src: url("../fonts/InterTight/InterTight-Bold.ttf");
        font-weight: 600;
        font-style: 600;
}

@font-face {
        font-family: "InterTight";
        src: url("../fonts/InterTight/InterTight-SemiBold.ttf");
        font-weight: 700;
        font-style: 700;
}

// Arabic font family
@font-face {
        font-family: "Tajawal";
        src: url("../fonts/Tajawal/Tajawal-Light.ttf");
        font-weight: 300;
        font-style: 300;
}

@font-face {
        font-family: "Tajawal";
        src: url("../fonts/Tajawal/Tajawal-Regular.ttf");
        font-weight: 400;
        font-style: 400;
}

@font-face {
        font-family: "Tajawal";
        src: url("../fonts/Tajawal/Tajawal-Medium.ttf");
        font-weight: 500;
        font-style: 500;
}

@font-face {
        font-family: "Tajawal";
        src: url("../fonts/Tajawal/Tajawal-Bold.ttf");
        font-weight: 700;
        font-style: 700;
}

// colors variables
$primary-color: #151538;
$primary-color-2: #0984e3;
$secondary-color: #4027cd;
$secondary-color-button: #ddedeb;
$secondary-color-light: rgb(74 165 150 / 34%);
$tertiary-color: #e6e1fe;
$body-bg: #f9f8fb;
$description-text-color: #1f4fde;
$title-text-color: #1f4fde;
$success-color: #51bb25;
$info-color: #a927f9;
$warning-color: #f8d62b;
$danger-color: #dc3545;
$light-color: #f4f4f4;
$light-gray: #ecf3fa;
$light-semi-gray: #efefef;
$dark-gray: #898989;
$dark-color: #2c323f;
$gray-60: #cccccc;
$card-body-color: #f9f9fa;
$transparent-color: transparent;
$auth-bg-color: #fafafa;
$light: #fdfeff;
$semi-dark: #59667a;
$light-text: #999999;
$light-background: #d7e2e9;
$light-font: rgba(27, 49, 85, 0.4);
$light-chartist-grid-color: #f6f9fd;
$pitch-color: #fe8a7d;
$color-scarpa: #4c5667;
$color-fiord: #455a64;
$black: #000;
$white: #fff;
$red: #e56363;
// gradient colors
$gradient-primary: $primary-color;
$gradient-bg: $primary-color;
$light-body-bg-color: #fafdff;
//fonts
$font-Medium: "Din-m", sans-serif;
$font-rubik: Rubik;
$font-roboto: Roboto;
$font-serif: sans-serif;
$font-themify: themify;
$font-awesome: FontAwesome;
$font-ICO: IcoFont;
//font colors
$title-withe-bg-color: #ffffff;
$label-with-bg-white: #1f4fde;
$title-with-bg-white: #989899;
$title-with-bg-white: #989899;
$font-color: #1d4a44;
$dark-light: $font-color;
$light-semi-font: $semi-dark;
$body-font-color: #2b2b2b;
$body-sub-title-color: rgba($body-font-color, 0.7);
$dark-body-background: #1d1e26;
$dark-card-background: #262932;
$dark-card-inbox: #323846;
$dark-small-font-color: #98a6ad;
$dark-all-font-color: rgba(255, 255, 255, 0.7);
$light-all-font-color: rgba(255, 255, 255, 0.2);
$sidebar-submenu-font-color: rgba(255, 255, 255, 0.7);
$dark-border-color: $dark-body-background;
$dark-card-border: #374558;
$dark-editor-document: #2b2b2b;
$bg-dark-color: #1f2533;
$dark-datatable-odd: #1f232b;
$dark-datatable-sorting: #1c212b;
$dark-datatable-sorting-even: #22262f;
$dark-even-hover-sorting: #191e27;
//Card
$card-padding: 40px;
$card-margin-bottom: 30px;
$card-border-color: 1px solid $light-gray;
$card-border-radious: 15px;
$common-shadow-color: rgba($info-color, 0.08);
$card-box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
$card-header-bg-color: #c6deda;
$card-header-font-transform: capitalize;
$card-header-span-size: 12px;
$card-header-span-color: $body-sub-title-color;
$card-body-bg-color: $transparent-color;
$card-footer-bg-color: $white;
$card-hover-box-shadow: 0 0 40px rgba(8, 21, 66, 0.05);
//footer
$footer_bg_color: $white;
$footer_box_shadow: 0 0 20px rgba($semi-dark, 0.1);
//form
$form-group-margin-bottom: 20px;
$sm-form-margin-bottom: 14px;
$form-placeholder-color: $dark-gray;
$form-placeholder-font-size: 14px;
$form-placeholder-letter-spacing: 1px;
$form-placeholder-font-weight: 100;
$form-input-border-color: $light-semi-gray;
$form-input-bg-color: $white;
//Tour
$tour-color: var($secondary-color);
//sidabr main
$sidebar-width: 255px;
$sidebar-position: fixed;
$sidebar-background-color: $white;
$sidebar-shadow: 0 0 11px rgba(69, 110, 243, 0.13);
$sidebar-overflow: auto;
$sidebar-z-index: 9;
$sidebar-transition: 0.5s;
//sidebar profile
$sidebar-profile-edit-icon-size: 14px;
$sidebar-profile-name-txt-color: var($secondary-color);
$sidebar-profile-name-txt-transfer: uppercase;
$sidebar-profile-name-txt-weight: 600;
$sidebar-profile-name-letter-specing: 1.5px;
$sidebar-profile-name-marging: 3px;
$sidebar-profile-sub-title-font-size: 10px;
$sidebar-profile-sub-title-margin: 0px;
$sidebar-profile-img-shadow: 0 0 15px rgba(68, 102, 242, 0.3);
//Sidebar main menu
$sidebar-menu-padding: 15px;
$sidebar-menu-list-style: none;
$sidebar-menu-list-margin: 0;
$sidebar-icon-size: 14px;
$sidebar-icon-margin: 14px;
$sidebar-icon-stroke-width: 3px;
$sidebar-font-size: 14px;
$sidebar-letter-specing: 0.5px;
$sidebar-txt-transform: capitalize;
$sidebar-font-weight: 600;
$sidebar-font-color: $body-font-color;
$sidebar-padding-top: 12px;
$sidebar-padding-bottom: 12px;
$sidebar-sub-header-padding: 15px;
$sidebar-sub-header-margin: 0;
$sidebar-heading-hover-padding: 5px;
$sidebar-hover-txt-color: var($secondary-color);
$sidebar-arrow-margin-top: 2px;
$sidebar-arrow-size: 15px;
$sidebar-arrow-color: $body-font-color;
$sidebar-open-icon: "\f107";
$sidebar-close-icon: "\f105";
$sidebar-icon-font-family: $font-awesome;
$sidebar-height: calc(100vh - 115px);
$main-header-position: fixed;
$main-header-top: 0;
$main-header-shadow: 0 0 20px rgba($semi-dark, 0.1);
$page-body-padding: 0 15px 0 15px;
$page-body-bg-color: $light-color;
$page-body-margin-bottom: 0px;
$page-title-padding: 30px;
$common-box-shadow: 2px 3.464px 8px 0px rgba(22, 145, 248, 0.18);
$page-title-font-size: 24px;
$page-title-margin-bottom: 0;
$page-title-text-tranform: capitalize;
$page-small-title-display: block;
$page-small-title-font-size: 12px;
$page-small-title-margin-bottom: 5px;
$page-small-title-text-transform: capitalize;
$page-small-title-text-color: $body-sub-title-color;
$breadcrumb-size: 16px;
$breadcrumb-content: "/";
//main header left
$header-left-bg-color: $white;
$main-header-padding: 27px 22px;
$main-header-z-index: 8;
$header-wrapper-padding: 22px 30px;
$header-wrapper-nav-right: 0px;
$header-wrapper-nav-icon-size: 20px;
$header-wrapper-nav-icon-color: $font-color;
$header-wrapper-nav-icon-align: middle;
$header-size: 136px;
$box-layout-space: 40px;
//toast-accent
$palletbackgroundlight-70-0backgroundlight-70-0alpha-100: rgba(82, 82, 82, 1);
$palletbackgroundlight-90-0backgroundlight-90-0alpha-100: rgba(38, 38, 38, 1);
$palletbackgroundlighterrorbackgroundlighterroralpha-100: rgba(254, 241, 241, 1);
$palletbackgroundlightinfobackgroundlightinfoalpha-100: rgba(235, 248, 254, 1);
$palletbackgroundlightmutedbackgroundlightmutedalpha-100: rgba(246, 246, 247, 1);
$palletbackgroundlightsuccessbackgroundlightsuccessalpha-100: rgba(237, 252, 242, 1);
$palletbackgroundlightwarningbackgroundlightwarningalpha-100: rgba(255, 244, 235, 1);
$palleterror-30-0error-30-0alpha-100: rgba(248, 113, 113, 1);
$palletinfo-30-0info-30-0alpha-100: rgba(125, 211, 252, 1);
$palletsecondary-30-0secondary-30-0alpha-100: rgba(176, 176, 176, 1);
$palletsuccess-30-0success-30-0alpha-100: rgba(102, 181, 132, 1);
$palletwarning-30-0warning-30-0alpha-100: rgba(253, 186, 116, 1);
$text-medium-md-16px-font-family: "Roboto-Medium", Helvetica;
$text-medium-md-16px-font-size: 16px;
$text-medium-md-16px-font-style: normal;
$text-medium-md-16px-font-weight: 500;
$text-medium-md-16px-letter-spacing: 0px;
$text-medium-md-16px-line-height: 22px;
$text-normal-sm-14px-font-family: "Roboto-Regular", Helvetica;
$text-normal-sm-14px-font-size: 14px;
$text-normal-sm-14px-font-style: normal;
$text-normal-sm-14px-font-weight: 400;
$text-normal-sm-14px-letter-spacing: 0px;
$text-normal-sm-14px-line-height: 20px;
